<div class="container">
  <h1><%= @cocktail.name %> (<%= @cocktail.category.capitalize %>)</h1>
  <h4><%= link_to "edit", edit_cocktail_path(@cocktail), class: "badge badge-primary" %> | <%= link_to "delete", cocktail_path(@cocktail), method: :delete, class: "badge badge-danger" %>
  </h4>
  <hr>
  <div class="d-flex justify-content-around">
    <%= cl_image_tag @cocktail.photo.key, height: 600, width: 800, crop: :limit %>
    <div class="ml-5">
      <h5><%= @cocktail.description %></h5>
      <ul>
        <% @cocktail.doses.each do |dose| %>
        <li><%= dose.description %> <%= dose.ingredient.name %> | <%= link_to "x", dose_path(dose), method: :delete  %></li>
        <% end %>
      </ul>
      <hr>
      <div>
        <h4>Add a new ingredient</h4>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description, label: "How much is needed?" %>
          <%= f.association :ingredient, collection: Ingredient.all.order(:name) %>
          <%= f.submit "Add" %>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
  <h2>
    <%= link_to "Back to list", cocktails_path, class: "badge badge-primary" %>
  </h2>
</div>
