<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-lewagon d-flex align-items-center justify-content-between p-3">
      <h1>Cocktails</h1>
      <h3><%= link_to "Add a cocktail", new_cocktail_path, class: "badge badge-primary rounded p-3" %></h3>
    </div>
    <%= yield %>
  </body>
</html>
